SELECT * FROM [mydb].[dbo].[City];
/*INSERT INTO [mydb].[dbo].[City] 
(Name, CountryCode, District, Population)
values('NewCity', 'AFG', 'Kabol', '88888')*/
/*INSERT INTO [mydb].[dbo].[City]
values('4081','NewCity', 'AFG', 'Kabol', '88888','')*/
/*UPDATE [mydb].[dbo].[City] 
SET Population='7777777', Name='Cool city' 
where ID = '4082';*/

--DELETE FROM [mydb].[dbo].[City] where ID = '4082';